<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="page bg-zinc-900 w-full h-screen flex justify-center align-center">
        <div class="
         w-1/4 h-72 flex justify-center align-center flex-col gap-4
        
        
        ">
            <form 
            class="mt-48 ml-12"
            action="/create_user" method="post">
            
                <input name="name" class="bg-zinc-900 rounded-lg text-white p-2 mt-12 border-2 border-blue "  type="text" placeholder="Full Name">
                <input name="email" class="bg-zinc-900 rounded-lg text-white p-2 mt-12 border-2 border-blue " type="email" placeholder="Your Email Id">
                <input name="password" class="bg-zinc-900 rounded-lg text-white p-2 mt-12 border-2 border-blue " type="password" placeholder="Enter Password">
                
                <button class="p-3 bg-yellow-500 text-white text-xl ml-8 rounded-2xl mt-8">Regster Now!</button>

            
            </form>
        </div>
    </div>
</body>
</html>